@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
}

html {
	/*background: #323436;*/
/*	background: -webkit-linear-gradient(to bottom right, #232526 , #414345);
	background: -o-linear-gradient(to bottom right, #232526 , #414345);
	background: -moz-linear-gradient(to bottom right, #232526 , #414345);
	background: linear-gradient(to bottom right, #232526 , #414345);*/

	background-image: url("../img/footer_lodyas.png");
	background-repeat: repeat;
}

body {
	background: #1B1E25;

	color: #909090;

	font-size: 87.5%; /*SHOULD BE 16px*/
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;

	width: 100%;

	margin: 0px;
	padding: 0px;

	overflow-x: hidden;

	/*min-width: 875px;*/
}

.body {
	margin: 0 auto 5% auto;
	width: 65%;
	clear: both;
}

@font-face {
	font-family: "BebasNeue";
	src: url("../fonts/BebasNeue Bold.otf");
}

@font-face {
	font-family: "NexaBold";
	src: url("../fonts/Nexa Bold.otf");
}

@font-face {
	font-family: "NexaLight";
	src: url("../fonts/Nexa Light.otf");
}

@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand-Regular.otf");
}

@font-face {
	font-family: "SaturdayBeLike";
	src: url("../fonts/Saturday be like Madness.ttf");
}


/***********#####-----Header-----#####***********/
.header {
	background-color: #FFFFFF;
	clear: both;
}

.header .header-title {
	position: absolute;
	width: 100%;
	height: 0px;

	color: #1B1E25;

	top: 0px;

	text-align: center;

	font-family: "SaturdayBeLike";
	font-weight: 500;
	font-size: 5em;

	margin-top: -0.2em;
	margin-left: -24px;
}

.header .header-options {
	margin: 0;
	width: 100%;

	padding: 30px 0;

	color: #1B1E25;
	font-family: "NexaBold";
	font-weight: 500;
	font-size: 18px;

	list-style-type: none;
	text-align: center;
}

.header .header-options #left {
	margin-right: 120px;
}

.header .header-options #right {
	margin-left: 120px;
}

.header .header-options .align-right {
	text-align: right;
}

.header .header-options li {
	display: inline-block;
	width: 200px;

	text-align: left;

	margin: 0 40px;
}

.header .header-options li a {
	color: #1B1E25;
	text-decoration: none;

	padding-bottom: 15px;
}

.header .header-options li > a:hover {
	border-bottom: solid 1px #1B1E25;
}

.dropdown {
	position: relative;
}

.dropdown .dropdown-button {
	cursor: pointer;
}

.dropdown .dropdown-content {
	position: absolute;
	display: none;
	z-index: 0;

	min-width: 160px;

	background-color: #FFFFFF;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown .dropdown-content a {
	display: block;
	padding: 12px 16px;

	text-decoration: none;
}

.dropdown .dropdown-content a:hover {
	background-color: #F1F1F1;
}

.dropdown:hover .dropdown-content {
	display: block;
}


/***********#####-----Special Pages-----#####***********/
.special-page {
	background-color: #FAFAFA;

	border-top: solid 2px #1B1E25;
	padding: 3% 20%;

	color: #1B1E25;
}

.special-page .title {
	font-family: "BebasNeue";
	font-weight: 500;

	font-size: 4.0em;

	margin-top: 0;

	text-align: center;
}


/***********#####-----Special Pages-----#####***********/
.links {

}

.links-small {
	padding: 4% 0;
}

.links .category {
	border: solid 2px #1B1E25;
	padding: 0 0 2% 0;
	margin-bottom: 4%;

	background-color: #FFFFFF;
}

.links .link {
	font-family: "NexaLight";
	font-size: 20px;
}

.links-small .link {
	font-family: "NexaBold";
	padding: 2% 0;
}

.links .link a {
	color: #1B1E25;;
	text-decoration: none;
}

.links .link .link-description {
	font-family: "Quicksand";
	font-size: 18px;

	margin-top: 0;
}

.links .nested-links .link:before {
	font-family: "FontAwesome";
	content: "\F101          ";
}

.links .link-header {
	padding: 0 2%;
	margin-bottom: 3%;

	background-color: #1B1E25;

	font-family: "NexaBold";
	font-size: 24px;
}

.links .link-header a {
	color: #FFFFFF;
}

.links .nested-links {
	padding: 0 2% 0 4%;
}

.links .nested-links .link {
	margin: 1% 0;
}


/***********#####-----Content Title-----#####***********/
.title-section {
	background-color: #1B1E25;
	color: #FFFFFF;

	padding: 5% 0;

	text-align: center;
}

.title-section .title {
	font-family: "BebasNeue";
	font-weight: 500;
	font-size: 3.5em;

	margin: 0;
}

.title-section .title-description {
	font-family: "NexaLight";
	font-size: 18px;

	margin: 0;
}


/***********#####-----Content Sections-----#####***********/
.section {
	padding: 2% 20% 2% 20%;
	color: #1B1E25;

	font-family: "Quicksand";
}

.section-white {
	background-color: #FFFFFF;
}

.section-grey {
	background-color: #F1F1F1;
}

.section .section-header {
	font-family: "NexaBold";
	font-weight: 500;
}

.section > p {
	text-indent: 2em;
}


.diagram {
	width: 40%;
}

.diagram-left {
	float: left;
	padding-right: 2em;
}

.diagram img {
	width: 100%;
}

.diagram .diagram-description {
	font-weight: bold;
}


/***********#####-----Connected View-----#####***********/
.connected-canvas {
	height: 500px;
	background-color: #F1F1F1;
}


/***********#####-----Footer-----#####***********/
.footer {
	background-color: #1B1E25;
	color: #FFFFFF;

	padding: 2% 0;

	font-family: "NexaBold";
}

.footer .footer-section {
	display: inline-block;
	width: 49%;
}

.footer .footer-section > * {
	margin: 0 0 0 5%;
}

.footer .footer-section #backtotop {
	cursor: pointer;
	text-align: right;
	margin-right: 3%;
}
